* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(248, 248, 248);

    font-family: sans-serif;
    color: rgb(34, 34, 34);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    padding: 10px;
}

h1 {
    color: rgb(24, 24, 24);
    margin-bottom: 20px;
}

.selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    margin-left: auto;
    font-size: medium;
}

label {
    cursor: pointer;
    margin-right: 20px;
}

input {
    margin-left: auto;
    font-size: small;
    width: 80px;
}

#exclusiveChild {
    font-size: large;
    width: 14px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: rgb(34, 34, 34);
    border: none;
}

.output {
    margin-left: auto;
}

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* border-radius: 14px; */
    border: none;
    background-color: lightgray;
    font-size: medium;
    padding: 8px 12px;
}

button:hover {
    background-color: darkgray;
}

button:active {
    background-color: grey;
}

img {
    width: 15%;
    display: none;
}

footer {
    font-size: small;
}

#footer {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '▶️';
    margin-right: 8px;

}

details[open] > summary::before {
    content: '🔽';
    margin-right: 8px;
}

.NA {
    color: red;
}

.hidden {
    display: none;
}